<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizWiz - Pregunta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages != 0 %}
                <div class="message">
                    {% if message != 0 %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}

        <p>Categoría: {{ question.category }}</p>
        <h2>Pregunta {{ current_question_number }} de {{ total_questions }}</h2>
        <h1>{{ question.text }}</h1>
        <form method="post" action="{{ url_for('quiz.submit_answer') }}">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <ul>
                {% for option in question.options %}
                <li>
                    <label>
                        <input type="radio" name="answer" value="{{ option }}">
                        {{ option }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <button type="submit">Enviar respuesta</button>
        </form>

    </div>
</body>
</html>
